footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  z-index: 9001;
  background: var(--bg-color);
  padding: 0;
  margin: 0;

  & ul {
    height: var(--footer-height);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;

    & li {
      flex: 1;
      padding: 0.5rem 1rem;
      text-align: left;
      position: relative;
      height: var(--footer-height);
      border-top: 1px solid transparent;

      &:first-child {
        border-right: 1px solid var(--fg-color);

        & a {
          text-align: right;
        }

        /* &:has( ~ li:hover){ */
        /*   border-right-color: transparent; */
        /* } */

      }

      & a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        line-height: var(--footer-height);
        font-family: "styrene";
        margin: 0;
        padding: 0 1rem;
      }
    }
  }
}