[
  {
    bg: [ 218, 203, 182 ],
    fg: [ 37, 26, 24 ],
    ac: [ 41, 84, 135 ],
    fghsl: { h: 9, s: 21.3, l: 12 },
    bghsl: { h: 35, s: 32.7, l: 78.4 },
    achsl: { h: 213, s: 53.4, l: 34.5 },
    name: 'nt--2KXJ8ZQ50KYQ'
  },
  {
    bg: [ 177, 170, 154 ],
    fg: [ 32, 23, 8 ],
    ac: [ 170, 133, 127 ],
    fghsl: { h: 38, s: 60, l: 7.8 },
    bghsl: { h: 42, s: 12.8, l: 64.9 },
    achsl: { h: 8, s: 20.2, l: 58.2 },
    name: 'nt--2KXJ8ZS2V831N'
  },
  {
    bg: [ 221, 206, 197 ],
    fg: [ 15, 12, 11 ],
    ac: [ 97, 80, 116 ],
    fghsl: { h: 15, s: 15.4, l: 5.1 },
    bghsl: { h: 22, s: 26.1, l: 82 },
    achsl: { h: 268, s: 18.4, l: 38.4 },
    name: 'nt--2KXJ8ZJ78RKI'
  },
  {
    bg: [ 209, 194, 165 ],
    fg: [ 63, 47, 58 ],
    ac: [ 92, 133, 135 ],
    fghsl: { h: 319, s: 14.5, l: 21.6 },
    bghsl: { h: 40, s: 32.4, l: 73.3 },
    achsl: { h: 183, s: 18.9, l: 44.5 },
    name: 'nt--2KXJ8ZSLOJ965'
  },
  {
    bg: [ 204, 203, 201 ],
    fg: [ 50, 36, 33 ],
    ac: [ 123, 115, 161 ],
    fghsl: { h: 11, s: 20.5, l: 16.3 },
    bghsl: { h: 40, s: 2.9, l: 79.4 },
    achsl: { h: 250, s: 19.7, l: 54.1 },
    name: 'nt--2KXJ8ZS8UB8KB'
  },
  {
    fg: [ 110, 58, 140 ],
    bg: [ 233, 231, 218 ],
    ac: [ 181, 172, 157 ],
    fghsl: { h: 278, s: 41.4, l: 38.8 },
    bghsl: { h: 52, s: 25.4, l: 88.4 },
    achsl: { h: 38, s: 14, l: 66.3 },
    name: 'nt--2KXJ8ZSC09H2L'
  },
  {
    fg: [ 5, 4, 3 ],
    bg: [ 234, 229, 215 ],
    ac: [ 79, 150, 131 ],
    fghsl: { h: 30, s: 25, l: 1.6 },
    bghsl: { h: 44, s: 31.1, l: 88 },
    achsl: { h: 164, s: 31, l: 44.9 },
    name: 'nt--2KXJ8Z1ZLV0H'
  },
  {
    fg: [ 3, 2, 2 ],
    bg: [ 219, 216, 207 ],
    ac: [ 92, 123, 115 ],
    fghsl: { h: 0, s: 20, l: 1 },
    bghsl: { h: 45, s: 14.3, l: 83.5 },
    achsl: { h: 165, s: 14.4, l: 42.2 },
    name: 'nt--2KXJ8Z2NFLNT'
  },
  {
    fg: [ 0, 0, 0 ],
    bg: [ 212, 222, 216 ],
    ac: [ 106, 94, 123 ],
    fghsl: { h: 0, s: 0, l: 0 },
    bghsl: { h: 144, s: 13.2, l: 85.1 },
    achsl: { h: 265, s: 13.4, l: 42.5 },
    name: 'nt--2KXJ8ZE0DCKJ'
  },
  {
    fg: [ 10, 10, 10 ],
    bg: [ 233, 226, 218 ],
    ac: [ 88, 148, 120 ],
    fghsl: { h: 0, s: 0, l: 3.9 },
    bghsl: { h: 32, s: 25.4, l: 88.4 },
    achsl: { h: 152, s: 25.4, l: 46.3 },
    name: 'nt--2KXJ8ZELYODH'
  },
  {
    fg: [ 11, 10, 10 ],
    bg: [ 242, 232, 214 ],
    ac: [ 57, 181, 137 ],
    fghsl: { h: 0, s: 4.8, l: 4.1 },
    bghsl: { h: 39, s: 51.9, l: 89.4 },
    achsl: { h: 159, s: 52.1, l: 46.7 },
    name: 'nt--2KXJ8ZS497O2R'
  },
  {
    fg: [ 1, 1, 1 ],
    bg: [ 232, 225, 218 ],
    ac: [ 87, 139, 113 ],
    fghsl: { h: 0, s: 0, l: 0.4 },
    bghsl: { h: 30, s: 23.3, l: 88.2 },
    achsl: { h: 150, s: 23, l: 44.3 },
    name: 'nt--2KXJ8ZSA8ZZBB'
  },
  {
    fg: [ 12, 11, 10 ],
    bg: [ 224, 225, 221 ],
    ac: [ 110, 121, 124 ],
    fghsl: { h: 30, s: 9.1, l: 4.3 },
    bghsl: { h: 75, s: 6.2, l: 87.5 },
    achsl: { h: 193, s: 6, l: 45.9 },
    name: 'nt--2KXJ8ZSCY4XHT'
  },
  {
    fg: [ 6, 5, 5 ],
    bg: [ 229, 225, 216 ],
    ac: [ 91, 137, 123 ],
    fghsl: { h: 0, s: 9.1, l: 2.2 },
    bghsl: { h: 42, s: 20, l: 87.3 },
    achsl: { h: 162, s: 20.2, l: 44.7 },
    name: 'nt--2KXJ8ZSF6FBKA'
  },
  {
    fg: [ 15, 15, 15 ],
    bg: [ 213, 218, 217 ],
    ac: [ 120, 108, 123 ],
    fghsl: { h: 0, s: 0, l: 5.9 },
    bghsl: { h: 168, s: 6.3, l: 84.5 },
    achsl: { h: 288, s: 6.5, l: 45.3 },
    name: 'nt--2KXJ8ZSFQB9OQ'
  },
  {
    fg: [ 7, 6, 6 ],
    bg: [ 221, 212, 200 ],
    ac: [ 83, 134, 112 ],
    fghsl: { h: 0, s: 7.7, l: 2.5 },
    bghsl: { h: 34, s: 23.6, l: 82.5 },
    achsl: { h: 154, s: 23.5, l: 42.5 },
    name: 'nt--2KXJ8ZSKYV4OE'
  },
  {
    fg: [ 11, 11, 12 ],
    bg: [ 216, 218, 226 ],
    ac: [ 133, 99, 106 ],
    fghsl: { h: 240, s: 4.3, l: 4.5 },
    bghsl: { h: 228, s: 14.7, l: 86.7 },
    achsl: { h: 348, s: 14.7, l: 45.5 },
    name: 'nt--2KXJ8ZW261H8'
  },
  {
    fg: [ 15, 14, 15 ],
    bg: [ 227, 232, 237 ],
    ac: [ 150, 96, 123 ],
    fghsl: { h: 300, s: 3.4, l: 5.7 },
    bghsl: { h: 210, s: 21.7, l: 91 },
    achsl: { h: 330, s: 22, l: 48.2 },
    name: 'nt--2KXJ8ZW2MKF1'
  }
]
