main {
  width: min(1000px, 95vw);
  margin: 0 auto;
  border: 3px solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 66px 1rem;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & * {
    padding: 0;
    margin: 0;
  }

  & .page-title {
    flex: 2;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .title-bar-links a {
    display: inline-block;
    white-space: nowrap;
  }

  & .breadcrumbs,
  .title-bar-links {
    font-family: "styrene";
    display: flex;
  }

  & .breadcrumbs {
    justify-content: start;
    align-items: center;
    gap: 9px;
  }

  .title-bar-links {
  }
}

@media screen and (max-width: 1000px) {
  .title-bar-links abbr {
    display: inline-block;
  }

  .title-bar-links span {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .title-bar-links abbr {
    display: none;
  }

  .title-bar-links span {
    display: inline-block;
  }
}

@media screen and (max-width: 650px) {
  .title-bar {
    flex-direction: column;
    gap: 0;
  }

  .truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .title-bar-links {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & .separator {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 650px) {
  .title-bar {
    flex-direction: row;
    gap: 1rem;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title-bar-links {
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 0;

    & .separator {
      display: none;
    }
  }
}

.cards:has(.page) {
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  width: 100%;
}

.card.page {
  scroll-margin: calc(var(--header-height) + 10px);
  aspect-ratio: 1 / 1;

  & img {
    overflow: hidden;
    object-position: center;
    object-fit: cover;
  }

  & p {
    height: 33px;
  }
}
.review-na {
  position: relative;
  &:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px;
    text-align: center;
    color: var(--fg-color);
    content: "No transcription to review! But you can still transcribe the page.";
    inset: 0;
    background: rgba(var(--bg), 0.76);
    z-index: 11;
  }
}
