body {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body.horiz {
  & header {
    gap: 33px;

    & .header-left {
      width: var(--header-left-width);
    }

    & .header-right {
      width: var(--header-right-width);
    }
  }
}

.top {
  min-height: calc(100vh - var(--header-height, 65px) - var(--footer-height, 50px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 30;
}

article {
  position: relative;

  z-index: 30;

}

.choose {
  pointer-events: auto;
  margin: auto;
  /* box-shadow: var(--shadow); */
}


.mss {
  /* background-image: url("https://collections.newberry.org/IIIF3/Image/2KXJ8ZFA39PN/full/,600/0/default.jpg"); */
}

.creator {
  /* background-image: url("https://collections.newberry.org/IIIF3/Image/2KXJ8ZSAEHO1F/full/,600/0/default.jpg"); */
  padding-bottom: var(--footer-height);
}

.choose {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-block: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: start;

  &>* {
    flex: 1;
  }

  &.creator {
    /* --bg-accent-color: var(--mulnite); */
    /* --fg-accent-color: rgb(var(--sapphire)); */
    --button-fg: var(--fg-accent-color);
  }

  & .header-wrapper {
    position: sticky;
    margin: 33px;
    top: calc(var(--header-height) + 33px);
    padding: 10vh 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & h2 {
      font-size: 10vh;
    }

    & .button-wrapper {
      flex: 1;
      display: grid;
      place-content: center;
    }

    & .citation {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-inline: 1.5rem;
      border-radius: 0.5rem 0 0 0;
      font-size: 0.87rem;

      /*background: var(--fg-accent-color);*/
      /* color: var(--bg-color);*/
      a {
        /*color: var(--mulnite);*/

      }
    }
  }

  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 1rem;
    width: 100%;
    margin: 0 0 33px 0;
    padding: 0;

    & li {
      aspect-ratio: 1 / 1.5;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;

      & a {
        display: block;
        height: 100%;
        text-decoration: none;
        /*color: white;*/
        position: relative;
      }

      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
      }

      & em {
        font-style: normal;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5rem;
        z-index: 1;
      }
    }
  }
}

.creator-overlay {
  z-index: 9001;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: start;

  & .message {
    color: var(--fg-accent-color);
    position: sticky;
    top: 40vh;
    font-size: 20vh;
    font-family: "flecha-m";
    transform: translateY(50%) rotate(33deg);

  }
}
