.nt-2KXJ8ZA0QPZN {
    --bg: rgb(2, 2, 2);
    --fg: rgb(216, 223, 220);
    --accent-l: rgb(155, 170, 164);
    --accent-m: rgb(100, 122, 112);
    --accent-d: rgb(111, 111, 111);
}

.nt-2KXJ8ZA6K8AJ {
    --bg: rgb(3, 3, 2);
    --fg: rgb(220, 217, 187);
    --accent-l: rgb(217, 187, 22);
    --accent-m: rgb(100, 44, 13);
    --accent-d: rgb(82, 124, 12);
}

.nt-2KXJ8ZA9QC6K {
    --bg: rgb(4, 3, 3);
    --fg: rgb(221, 194, 152);
    --accent-l: rgb(81, 109, 81);
    --accent-m: rgb(81, 109, 81);
    --accent-d: rgb(81, 109, 81);
}

.nt-2KXJ8ZCVAKWM {
    --bg: rgb(1, 1, 1);
    --fg: rgb(204, 217, 223);
    --accent-l: rgb(217, 223, 20);
    --accent-m: rgb(116, 132, 83);
    --accent-d: rgb(83, 116, 132);
}

.nt-2KXJ8ZCVYDIF {
    --bg: rgb(13, 14, 10);
    --fg: rgb(231, 232, 228);
    --accent-l: rgb(192, 191, 183);
    --accent-m: rgb(101, 131, 141);
    --accent-d: rgb(128, 127, 116);
}

.nt-2KXJ8ZFI8W1X {
    --bg: rgb(3, 2, 2);
    --fg: rgb(226, 218, 221);
    --accent-l: rgb(184, 169, 174);
    --accent-m: rgb(90, 135, 90);
    --accent-d: rgb(99, 109, 126);
}

.nt-2KXJ8ZIJVB5T {
    --bg: rgb(1, 0, 0);
    --fg: rgb(231, 188, 194);
    --accent-l: rgb(204, 113, 125);
    --accent-m: rgb(55, 69, 155);
    --accent-d: rgb(155, 55, 69);
}

.nt-2KXJ8ZIOUOUO {
    --bg: rgb(1, 1, 2);
    --fg: rgb(165, 209, 197);
    --accent-l: rgb(165, 209, 197);
    --accent-m: rgb(126, 63, 63);
    --accent-d: rgb(64, 125, 108);
}

.nt-2KXJ8ZJ1F80D {
    --bg: rgb(6, 4, 4);
    --fg: rgb(206, 210, 198);
    --accent-l: rgb(169, 176, 145);
    --accent-m: rgb(117, 92, 109);
    --accent-d: rgb(84, 125, 84);
}

.nt-2KXJ8ZJ78RKI {
    --bg: rgb(15, 12, 11);
    --fg: rgb(216, 211, 208);
    --accent-l: rgb(174, 165, 155);
    --accent-m: rgb(95, 130, 104);
    --accent-d: rgb(110, 102, 123);
}

.nt-2KXJ8ZJ7KNGK {
    --bg: rgb(13, 9, 7);
    --fg: rgb(241, 212, 185);
    --accent-l: rgb(239, 173, 109);
    --accent-m: rgb(78, 145, 100);
    --accent-d: rgb(109, 37, 186);
}

.nt-2KXJ8ZJQVM57 {
    --bg: rgb(3, 2, 4);
    --fg: rgb(224, 205, 192);
    --accent-l: rgb(205, 170, 146);
    --accent-m: rgb(99, 70, 141);
    --accent-d: rgb(106, 70, 141);
}

.nt-2KXJ8ZQ50KYQ {
    --bg: rgb(5, 3, 2);
    --fg: rgb(232, 221, 210);
    --accent-l: rgb(232, 221, 210);
    --accent-m: rgb(112, 76, 149);
    --accent-d: rgb(182, 159, 138);
}

.nt-2KXJ8ZS6AJIRH {
    --bg: rgb(3, 2, 2);
    --fg: rgb(223, 198, 199);
    --accent-l: rgb(209, 161, 157);
    --accent-m: rgb(77, 79, 136);
    --accent-d: rgb(136, 77, 79);
}

.nt-2KXJ8ZS8U9WIR {
    --bg: rgb(16, 15, 15);
    --fg: rgb(211, 216, 223);
    --accent-l: rgb(196, 191, 180);
    --accent-m: rgb(113, 135, 98);
    --accent-d: rgb(98, 113, 135);
}

.nt-2KXJ8ZSU9NE2D {
    --bg: rgb(2, 2, 2);
    --fg: rgb(204, 204, 198);
    --accent-l: rgb(165, 172, 134);
    --accent-m: rgb(107, 96, 107);
    --accent-d: rgb(102, 102, 102);
}

.nt-2KXJ8ZW2MKF1 {
    --bg: rgb(15, 15, 15);
    --fg: rgb(227, 232, 237);
    --accent-l: rgb(207, 217, 229);
    --accent-m: rgb(124, 150, 97);
    --accent-d: rgb(97, 124, 150);
}
