.transchemes-0014-2-a {
  --fg-splash-rgb: var(--color3);
  --fg-alt-1-rgb:  var(--color4);
  --fg-alt-2-rgb:  var(--color5);
}

.transchemes-0014-4-b {
  --fg-splash-rgb: var(--color2);
  --fg-alt-1-rgb:  var(--color3);
  --fg-alt-2-rgb:  var(--color5);
}

.transchemes-0014b {
  --fg-splash-rgb: var(--color2);
  --fg-alt-1-rgb:  var(--color4);
  --fg-alt-2-rgb:  var(--color5);
}

.transchemes-0014c {
  --fg-splash-rgb: var(--color2);
  --fg-alt-1-rgb:  var(--color4);
  --fg-alt-2-rgb:  var(--color5);
}


.transchemes-0014-1-a {
  --fg-splash-rgb: var(--color2);
  --fg-alt-1-rgb:  var(--color3);
  --fg-alt-2-rgb:  var(--color4);
}


.transchemes-0014-1-b {
  --fg-splash-rgb: var(--color3);
  --fg-alt-1-rgb:  var(--color4);
  --fg-alt-2-rgb:  var(--color5);
}

.transchemes-0014-3-b {
  --fg-splash-rgb: var(--color3);
  --fg-alt-1-rgb:  var(--color4);
  --fg-alt-2-rgb:  var(--color6);
}

.bg-2KXJ8ZW261H8-sm {
  --fg-splash-rgb: var(--color3);
  --fg-alt-1-rgb:  var(--color4);
  --fg-alt-2-rgb:  var(--color6);
}

.bg-2KXJ8ZE0DCKJ {
  --fg-splash-rgb: var(--color1);
  --fg-alt-1-rgb:  var(--color2);
  --fg-alt-2-rgb:  var(--color5);
}

