<div class="color-grid" id="colorGrid">
    <div class="themer nt-2KXJ8ZCVAKWM" id="nt-2KXJ8ZCVAKWM"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(179, 144, 128);" class="color-bx"></div>
        <div style="background-color: rgb(208, 182, 169);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZA0QPZN" id="nt-2KXJ8ZA0QPZN"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(163, 149, 156);" class="color-bx"></div>
        <div style="background-color: rgb(201, 186, 191);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZA6K8AJ" id="nt-2KXJ8ZA6K8AJ"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(108, 143, 193);" class="color-bx"></div>
        <div style="background-color: rgb(131, 139, 195);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZA9QC6K" id="nt-2KXJ8ZA9QC6K"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(47, 104, 177);" class="color-bx"></div>
        <div style="background-color: rgb(57, 112, 213);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZCVYDIF" id="nt-2KXJ8ZCVYDIF"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(116, 118, 129);" class="color-bx"></div>
        <div style="background-color: rgb(210, 209, 215);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZFI8W1X" id="nt-2KXJ8ZFI8W1X"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(168, 184, 179);" class="color-bx"></div>
        <div style="background-color: rgb(174, 194, 168);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZIJVB5T" id="nt-2KXJ8ZIJVB5T"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(127, 202, 204);" class="color-bx"></div>
        <div style="background-color: rgb(130, 192, 173);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZIOUOUO" id="nt-2KXJ8ZIOUOUO"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(126, 74, 186);" class="color-bx"></div>
        <div style="background-color: rgb(190, 106, 151);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZJ1F80D" id="nt-2KXJ8ZJ1F80D"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(116, 107, 133);" class="color-bx"></div>
        <div style="background-color: rgb(155, 141, 170);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZJ78RKI" id="nt-2KXJ8ZJ78RKI"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(130, 144, 122);" class="color-bx"></div>
        <div style="background-color: rgb(165, 174, 182);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZJ7KNGK" id="nt-2KXJ8ZJ7KNGK"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(96, 163, 230);" class="color-bx"></div>
        <div style="background-color: rgb(135, 184, 212);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZJQVM57" id="nt-2KXJ8ZJQVM57"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(115, 139, 156);" class="color-bx"></div>
        <div style="background-color: rgb(124, 129, 121);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZQ50KYQ" id="nt-2KXJ8ZQ50KYQ"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(139, 161, 182);" class="color-bx"></div>
        <div style="background-color: rgb(178, 199, 220);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZS6AJIRH" id="nt-2KXJ8ZS6AJIRH"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(127, 189, 199);" class="color-bx"></div>
        <div style="background-color: rgb(126, 160, 159);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZS8U9WIR" id="nt-2KXJ8ZS8U9WIR"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(165, 162, 151);" class="color-bx"></div>
        <div style="background-color: rgb(194, 184, 158);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZSU9NE2D" id="nt-2KXJ8ZSU9NE2D"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(121, 117, 149);" class="color-bx"></div>
        <div style="background-color: rgb(141, 134, 172);" class="color-bx"></div>
    </div>
    <div class="themer nt-2KXJ8ZW2MKF1" id="nt-2KXJ8ZW2MKF1"><img
            style="min-width: 100px; min-height: 100px; background-color: ; background-position-x: ; background-position-y: ; background-repeat: ; background-attachment: ; background-image: ; background-size: cover; background-origin: ; background-clip: ;">
        <div style="background-color: var(--splash);" class="color-bx">--splash</div>
        <div style="background-color: var(--alt);" class="color-bx">--alt</div>
        <div style="background-color: rgb(179, 144, 128);" class="color-bx"></div>
        <div style="background-color: rgb(199, 191, 179);" class="color-bx"></div>
    </div>
</div>