<div class="left gallery mss subsection" id="mss-gallery">
    <li><a href="/120484" class="gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZUZ9RMA/full/,400/0/default.jpg" alt="">
            <p class="caption">W.E. Smith diary, 1870s</p>
        </a></li>
    <li><a href="/128246" class="gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZSQ8Y9T1/full/,400/0/default.jpg" alt="">
            <p class="caption">Lemuel Burke diary, 1876</p>
        </a></li>
    <li><a href="/140701" class="gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZS7WN4S9/full/,400/0/default.jpg" alt="">
            <p class="caption">Jane Brown captivity narrative, 1851</p>
        </a></li>
    <li><a href="/146661" class="gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZSBWHTDK/full/,400/0/default.jpg" alt="">
            <p class="caption">Indian recipes &amp; cures, 1830s</p>
        </a></li>
    <li><a href="/148079" class="gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZSKQ5588/full/,400/0/default.jpg" alt="">
            <p class="caption">T. Pickering letters, 1790s</p>
        </a></li>
    <li><a href="/170347-0101" class="gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZA92SA2/full/,400/0/default.jpg" alt="">
            <p class="caption">May Walden letters, 1904-1940</p>
        </a></li>
</div>
<div class="right gallery creator subsection" id="creator-gallery">
    <li><a href="/charles-stobie" target="_blank" class="fakelink gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZSLTEEZZ/full/,400/0/default.jpg" alt="">
            <p class="caption">Charles S. Stobie</p>
        </a></li>
    <li><a href="/fanny-butcher" target="_blank" class="fakelink gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZSL8B5RQ/full/,400/0/default.jpg" alt="">
            <p class="caption">Fanny Butcher</p>
        </a></li>
    <li><a href="/graham-taylor" target="_blank" class="fakelink gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZS5RDGNP/full/,400/0/default.jpg" alt="">
            <p class="caption">Graham Taylor</p>
        </a></li>
    <li><a href="/mark-satter" target="_blank" class="fakelink gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZSMI2M32/full/,400/0/default.jpg" alt="">
            <p class="caption">Mark J. Satter</p>
        </a></li>
    <li><a href="/mary-hartwell-catherwood" target="_blank" class="fakelink gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZS26LU2Y/full/,400/0/default.jpg" alt="">
            <p class="caption">Mary Hartwell Catherwood</p>
        </a></li>
    <li><a href="/saint-memin" target="_blank" class="fakelink gallery-img">
            <img src="https://collections.newberry.org/IIIF3/Image/2KXJ8ZS75PFCR/full/,400/0/default.jpg" alt="">
            <p class="caption">Benigne Charles Fevret de Saint-Mémin</p>
        </a></li>
</div>