<article class="intro">
  <div class="h1-wrapper">
    <!-- <div class="background-element"></div> -->
    <h1 id="main-title">
      Newberry Transcribe</h1>
  </div>
  <div class="center-splash">
    <div class="title-box">
      <p>
        Help preserve the past by transcribing <br />
        handwritten letters and diaries at <a href="https://collections.newberry.org" class="llines invert"
          target="_blank">Newberry Digital Collections</a>
      </p>
    </div>
    {% include 'chunks/how-to.html' %}
  </div>
  <div class="get-started-buttons">
    <a href="#" class="fakelink button-like">Learn More</a>
    <a href="/transcribe" class="button-like  color-button">Browse Manuscripts</a>
    <a href="{{ random_link }}" class="button-like  color-button">Jump In!</a>
  </div>
</article>