<form hx-post="/auth/request-reset" hx-trigger="submit" class="space-y-4" hx-target-error="reset-error">

    <span class="block text-md font-medium text-gray-900">Enter an email to reset your password</span>

    <div>
        <input type="email" name="email" id="email"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500">
    </div>

    <div id="reset-error"></div>

    <div>
        <button type="submit"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Submit
        </button>
    </div>
</form>