{% extends 'base.html' %}
{% block extra_css %}
<title>Reset password</title>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">

    <form hx-post="/auth/reset-password" hx-target-error="reset-errors" hx-trigger="submit" hx-swap="outerHTML" class="space-y-4" >

        <span class="block text-md font-medium text-gray-900">Reset password for {{ username }}</span>

        <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Password:</label>
            <input type="password" name="password" id="password" required required minlength="6" 
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500">
            <span class="text-xs text-gray-500">Must include: a minimum of 6 characters</span>
        </div>
    
        <div>
            <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500">
                <span class="text-xs text-gray-500">Passwords must match</span>
        </div>
    
        <div id="reset-errors"></div>

        <div>
            <button type="submit"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Submit
            </button>
        </div>
    </form>
</div>
{% endblock %}